.section {
    min-height: 1000px;
    overflow: hidden;
    /*position: relative;*/
    padding: 30px 10px 0px;

}

/*.navabar-fixed-top {*/
    /*width: auto !important;*/
    /*position: fixed;*/
    /*z-index: 10;*/
/*}*/
#about p {
    padding: 10px;
}

#home {
    background: url(http://lorempixel.com/output/sports-q-g-1920-1080-8.jpg) no-repeat center center fixed;
    background-size: cover;
}

#home div,
#about div {
    padding: 10px;
    background-color:rgba(140,0,0,0.3);
}

#products .col-sm-6 p {
    line-height: 50px;
}

.section:nth-child(even) {
    background-color: darkgrey;
}